<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmresourcesApp.productDocument.home.title">Product Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-document" [routerLink]="['/product-document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmresourcesApp.productDocument.home.createLabel">
            Create a new Product Document
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productDocuments?.length === 0">
        <span jhiTranslate="epmresourcesApp.productDocument.home.notFound">No productDocuments found</span>
    </div>
    <div class="table-responsive" *ngIf="productDocuments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.videoUrl">Video Url</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.highlights">Highlights</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.longDescription">Long Description</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.shortDescription">Short Description</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.careInstructions">Care Instructions</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.productType">Product Type</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.modelName">Model Name</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.modelNumber">Model Number</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.fabricType">Fabric Type</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.specialFeatures">Special Features</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.productComplianceCertificate">Product Compliance Certificate</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.genuineAndLegal">Genuine And Legal</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.countryOfOrigin">Country Of Origin</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.usageAndSideEffects">Usage And Side Effects</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.safetyWarnning">Safety Warnning</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.warrantyPeriod">Warranty Period</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.warrantyPolicy">Warranty Policy</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.warrantyType">Warranty Type</span></th>
            <th scope="col" ><span jhiTranslate="epmresourcesApp.productDocument.culture">Culture</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productDocument of productDocuments ;trackBy: trackId">
                <td><a [routerLink]="['/product-document', productDocument.id, 'view' ]">{{productDocument.id}}</a></td>
                <td>{{productDocument.videoUrl}}</td>
                <td>{{productDocument.highlights}}</td>
                <td>{{productDocument.longDescription}}</td>
                <td>{{productDocument.shortDescription}}</td>
                <td>{{productDocument.description}}</td>
                <td>{{productDocument.careInstructions}}</td>
                <td>{{productDocument.productType}}</td>
                <td>{{productDocument.modelName}}</td>
                <td>{{productDocument.modelNumber}}</td>
                <td>{{productDocument.fabricType}}</td>
                <td>{{productDocument.specialFeatures}}</td>
                <td>{{productDocument.productComplianceCertificate}}</td>
                <td>{{productDocument.genuineAndLegal}}</td>
                <td>{{productDocument.countryOfOrigin}}</td>
                <td>{{productDocument.usageAndSideEffects}}</td>
                <td>{{productDocument.safetyWarnning}}</td>
                <td>{{productDocument.warrantyPeriod}}</td>
                <td>{{productDocument.warrantyPolicy}}</td>
                <td>
                    <div *ngIf="productDocument.warrantyTypeId">
                        <a [routerLink]="['/warranty-types', productDocument.warrantyTypeId , 'view' ]" >{{productDocument.warrantyTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productDocument.cultureId">
                        <a [routerLink]="['/culture', productDocument.cultureId , 'view' ]" >{{productDocument.cultureName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-document', productDocument.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-document', productDocument.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-document', { outlets: { popup: productDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
